<div class="details-wrapper" ...attributes>
    <ContentPanel @title="Details" @open={{true}} @wrapperClass="bordered-top">
        <div class="grid grid-cols-1 lg:grid-cols-3 gap-2">
            <div class="field-info-container">
                <div class="field-name">{{t "equipment.fields.name"}}</div>
                <div class="field-value">{{n-a @resource.name}}</div>
            </div>

            <div class="field-info-container">
                <div class="field-name">{{t "equipment.fields.code"}}</div>
                <div class="field-value">{{n-a @resource.code}}</div>
            </div>

            <div class="field-info-container">
                <div class="field-name">{{t "equipment.fields.type"}}</div>
                <div class="field-value">{{smart-humanize @resource.type}}</div>
            </div>

            <div class="field-info-container">
                <div class="field-name">{{t "equipment.fields.status"}}</div>
                <div class="field-value">
                    <Badge @status={{@resource.status}}>{{smart-humanize @resource.status}}</Badge>
                </div>
            </div>

            <div class="field-info-container">
                <div class="field-name">{{t "equipment.fields.serial-number"}}</div>
                <div class="field-value">{{n-a @resource.serial_number}}</div>
            </div>

            <div class="field-info-container">
                <div class="field-name">{{t "equipment.fields.manufacturer"}}</div>
                <div class="field-value">{{n-a @resource.manufacturer}}</div>
            </div>

            <div class="field-info-container">
                <div class="field-name">{{t "equipment.fields.model"}}</div>
                <div class="field-value">{{n-a @resource.model}}</div>
            </div>

            <div class="field-info-container">
                <div class="field-name">{{t "equipment.fields.purchased-at"}}</div>
                <div class="field-value">{{format-date @resource.purchased_at}}</div>
            </div>

            <div class="field-info-container">
                <div class="field-name">{{t "equipment.fields.purchase-price"}}</div>
                <div class="field-value">{{format-currency @resource.purchase_price}}</div>
            </div>

            <div class="field-info-container">
                <div class="field-name">{{t "equipment.fields.warranty"}}</div>
                <div class="field-value">{{n-a @resource.warranty_name}}</div>
            </div>

            <div class="field-info-container">
                <div class="field-name">{{t "equipment.fields.equipped-to"}}</div>
                <div class="field-value">{{n-a @resource.equipped_to_name}}</div>
            </div>

            <div class="field-info-container">
                <div class="field-name">{{t "equipment.fields.equipped-status"}}</div>
                <div class="field-value">
                    {{#if @resource.is_equipped}}
                        <Badge @status="success">{{t "equipment.fields.equipped"}}</Badge>
                    {{else}}
                        <Badge @status="default">{{t "equipment.fields.not-equipped"}}</Badge>
                    {{/if}}
                </div>
            </div>

            <div class="field-info-container">
                <div class="field-name">{{t "equipment.fields.age"}}</div>
                <div class="field-value">{{n-a @resource.age_in_days}} days</div>
            </div>

            <div class="field-info-container">
                <div class="field-name">{{t "equipment.fields.depreciated-value"}}</div>
                <div class="field-value">{{format-currency @resource.depreciated_value}}</div>
            </div>
        </div>
    </ContentPanel>

    <CustomField::Yield @subject={{@resource}} @viewMode={{true}} @wrapperClass="bordered-top" />

    <ContentPanel @title="Photo" @open={{true}} @wrapperClass="bordered-top">
        <div class="flex px-1">
            <div class="border border-dashed border-gray-200 dark:border-gray-700 bg-white dark:bg-gray-600 rounded-lg flex items-center justify-center">
                <div class="flex items-center justify-center h-20 w-24">
                    <Image alt={{@resource.name}} src={{or @resource.photo_url (config "defaultValues.equipmentImage")}} @fallbackSrc={{config "defaultValues.equipmentImage"}} class="w-12 h-12" />
                </div>
            </div>
        </div>
    </ContentPanel>
</div>
